
<div class="login">
  <img  src="../assets/images/logo.png" alt="logo">
 <form>
<span class="forn-group">
    <h3 class="first login-label">Username</h3>
    <input class="login-input" id="input" type="text" size="30" pInputText placeholder="Enter your Username or email id"> 
</span>
<span class="forn-group">
    <h3 class="first login-label">Password</h3>
    <input id="input" class="login-input" pPassword type="password" size="30" pInputText placeholder="Enter your Password"> 
    <a href="" class="logn-forgot">Forgot Password?</a>
</span>
<h3 class="first login-submit">
<button pButton type="button" class="ui-button-danger btn-orange">Login</button></h3>
</form>
</div>