
<div style="width:100%; float:left; height:auto">
  <div class="ui-widget-header ql-search ql-ovv-users-search-cont">
    
   
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  
    <!-- <p-dropdown [options]="cities1" [group]="true" class="float-left" ></p-dropdown> -->
    <input #gb type="text" pInputText size="50" placeholder="Search...">
    <p-fileUpload mode="basic" name="demo[]"   maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
    <button type="button" (click)="showDialog()" pButton style="float:right;">  Add User</button>
    </div>
    
  
  
  <p-dataTable [value]="items" scrollable="true" [rows]="5" [globalFilter]="gb" #dt >
    <p-column field="virtual" header="Virtual Meter ID" [sortable]="true"></p-column>
    <p-column field="meterid" header="Meter ID" [sortable]="true"></p-column>
    <p-column field="multiplier" header="Multiplier" [sortable]="true"></p-column>
    <p-column field="units" header="Units" [sortable]="true"></p-column> 
    <p-column field="utility" header="Utility Type" [sortable]="true"></p-column> 
    <p-column styleClass="col-button">
      <ng-template pTemplate="header">
          <!-- <button type="button" pButton icon="fa-refresh"></button> -->
      </ng-template>
      <ng-template let-car="rowData" pTemplate="body">
          <p-splitButton class="site-edit float-right" icon="far fa-ellipsis-v" [model]="edit"></p-splitButton>
      </ng-template>
  </p-column>
  </p-dataTable>
  
  </div>
  
  



<p-dialog header="Godfather I" [(visible)]="display" modal="modal" [responsive]="true" [width]="600" [minWidth]="200" [minY]="200">
  <span>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
            <label>Section Name</label>
              <div class="ui-inputgroup">
                 
                  <input type="text" pInputText placeholder="Username">         
              </div>
          </div>
          <div class="ui-g-6">
              <label>Section Name</label>
                <div class="ui-inputgroup">
                   
                    <input type="text" pInputText placeholder="Username">         
                </div>
            </div>
<div class="ui-g-6">
  <p-dropdown [options]="cities" placeholder="Select a City"></p-dropdown>

  <!-- <p>Selected City: {{selectedCity ? selectedCity.name : 'none'}}</p> -->
</div>

          </div>

  </span>
      <p-footer>
          <button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
          <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
      </p-footer>
</p-dialog>