<div class="ui-g-12"></div>
<div class="ui-g-nopad">
  <label class="ql-title">Parkside</label>
 
</div> 
<div class="ui-g-nopad "> 
    <p-tabView>
        <p-tabPanel header="Overview" leftIcon="fa-book">
           Content 1
        </p-tabPanel>
        <p-tabPanel header="Sections" leftIcon="fa-building">
            <app-sections></app-sections>
        </p-tabPanel>
        <p-tabPanel header="Units" leftIcon="fa-home">
            Content 3    
        </p-tabPanel>
        <p-tabPanel header="Meters" leftIcon="fa-dashboard">
            Content 4    
        </p-tabPanel>
        <p-tabPanel header="Tanants" leftIcon="fa-users">
            Content 5    
        </p-tabPanel>
    </p-tabView>
</div>