<p-breadcrumb class="float-right categories" [model]="items" [home]="home"></p-breadcrumb>
<div class="clear"></div>
<h5 class="page-heading">parkside</h5>
<div class="ui-g-nopad tabs-view">
    <p-tabView>
        <p-tabPanel header="Overview" leftIcon="fa-book">
            <app-overview></app-overview>
        </p-tabPanel>
        <p-tabPanel header="Sections" leftIcon="fa-building">
            <app-sections></app-sections>
        </p-tabPanel>
        <p-tabPanel header="Units" leftIcon="fa-home">
            <app-unit-page></app-unit-page>
        </p-tabPanel>
        <p-tabPanel header="Meters" leftIcon="fa-dashboard">

            <app-meters></app-meters>
        </p-tabPanel>
        <p-tabPanel header="Tanants" leftIcon="fa-users">
           <app-tenants></app-tenants> 

        </p-tabPanel>
    </p-tabView>
</div>