
/* You can add global styles to this file, and also import other style files */

.ui-table .ui-table-tbody>tr>td, .ui-table .ui-table-thead>tr>th { padding: 1rem !important; }
.ui-table .ui-table-thead>tr>th, .ui-datatable .ui-datatable-thead>tr>th { font-weight: bold !important; font-size: 14px !important;}
.ui-fileupload-choose { padding:10px 20px !important; float: right; height: 33px;} 